body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
  }
  
  .container {
    margin-top: 50px;
  }
  
  h1 {
    color: #333;
  }
  
  form {
    margin: 20px 0;
  }
  
  input, button {
    padding: 10px;
    font-size: 16px;
    margin: 5px;
  }
  
  button {
    background-color: #5cb85c;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #4cae4c;
  }
  
  #stockData {
    margin-top: 20px;
    padding: 10px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  #stockSymbol {
    width: 255px;
    font-size: 16px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  